<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
<head>
    <title th:text="${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icons.min.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<div class="wrapper">
    <div th:insert="blocks/header :: header"></div>
    <div class="slider-area section-padding-1">
        <div class="slider-active-2 owl-carousel nav-style-2 dot-style-1">
            <div class="single-slider slider-height-2 bg-paleturquoise" style="background: #f4f0ed">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="slider-content pt-180 slider-animated-1">
                                <h1 class="animated">Wooden Craft</h1>
                                <p class="animated">A clock without the tick-tock. The mechanism has a silent movement so you can relax and sleep without being disturbed by the sound.</p>
                                <div class="slider-btn btn-hover">
                                    <a class="animated" href="/shop">Shop Now <i class="sli sli-basket-loaded"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="slider-single-img-2 slider-animated-1">
                                <img class="animated" src="assets/img/clocks/main_clock_1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height-2 bg-paleturquoise" style="background: #f4f0ed">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="slider-content pt-180 slider-animated-1">
                                <h1 class="animated">Wooden Craft</h1>
                                <p class="animated">No disturbing ticking sounds since the clock has a silent quartz movement. Highly accurate at keeping time as it is fitted with a quartz movement.</p>
                                <div class="slider-btn btn-hover">
                                    <a class="animated" href="/shop">Shop Now <i class="sli sli-basket-loaded"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="slider-single-img-2 slider-animated-1">
                                <img class="animated" src="assets/img/clocks/main_clock_2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area pt-100 pb-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-banner mb-30 scroll-zoom">
                        <a href="/shop"><img class="animated" src="assets/img/clocks/sale_1.png" alt=""></a>
                        <div class="banner-content banner-position-1">
                            <h3>35% off <br>Black Monday</h3>
                            <h2>Garden Clock <br>Home.</h2>
                            <a href="/shop">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-banner mb-30 scroll-zoom">
                        <a href="/shop"><img class="animated" src="assets/img/clocks/sale_2.png" alt=""></a>
                        <div class="banner-content banner-position-2">
                            <h3>15% off</h3>
                            <h2 style="margin: 4px -4px 10px 0">Antique Clock <br>Moving.</h2>
                            <a href="/shop">Shop Now</a>
                        </div>
                    </div>
                    <div class="single-banner mb-30 scroll-zoom">
                        <a href="/shop"><img class="animated" src="assets/img/clocks/sale_3.png" alt=""></a>
                        <div class="banner-content banner-position-2">
                            <h3>Black Friday</h3>
                            <h2>World Classic<br> Timeless.</h2>
                            <a href="/shop">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area pb-70">
        <div class="container">
            <div class="section-title text-center pb-40">
                <h2>All Products</h2>
                <p>A wall clock or a table clock always makes sure you get things done on time.</p>
            </div>
            <div class="product-tab-list nav pb-60 text-center">
                <a class="active" href="#product-1" data-toggle="tab">
                    <h4>Wall Clocks</h4>
                </a>
                <a href="#product-2" data-toggle="tab">
                    <h4>Desk & Shelf Clocks</h4>
                </a>
                <a href="#product-3" data-toggle="tab">
                    <h4>Alarm Clocks</h4>
                </a>
            </div>
            <div class="tab-content jump-2">
                <div id="product-1" class="tab-pane active">
                    <div class="ht-products product-slider-active owl-carousel">
                        <!--Product Start-->
                        <div th:each="el : ${wallClocks}" class="ht-product ht-product-action-on-hover ht-product-category-right-bottom mb-30">
                            <div class="ht-product-inner">
                                <div class="ht-product-image-wrap">
                                    <a th:href="'/shop/product/' + ${el.clockId}" class="ht-product-image"> <img th:src="'assets/img/clocks/' + ${el.imgRef}" alt="Universal Product Style"> </a>
                                </div>
                                <div class="ht-product-content">
                                    <div class="ht-product-content-inner">
                                        <div class="ht-product-categories"><p th:text="${el.category}"></p></div>
                                        <h4 class="ht-product-title"><a th:href="'/shop/product/' + ${el.clockId}" th:text="${el.title}"></a></h4>
                                        <div class="ht-product-price">
                                            <span class="new" th:text="'$' + ${el.price}"></span>
                                        </div>
                                        <div class="ht-product-ratting-wrap">
                                            <span class="ht-product-ratting">
                                                <span class="ht-product-user-ratting" style="width: 100%;">
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                </span>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="ht-product-countdown-wrap">
                                        <div class="ht-product-countdown" data-countdown="2020/01/01"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Product End-->
                    </div>
                </div>
                <div id="product-2" class="tab-pane">
                    <div class="ht-products product-slider-active owl-carousel">
                        <!--Product Start-->
                        <div th:each="el : ${deskClocks}" class="ht-product ht-product-action-on-hover ht-product-category-right-bottom mb-30">
                            <div class="ht-product-inner">
                                <div class="ht-product-image-wrap">
                                    <a th:href="'/shop/product/' + ${el.clockId}" class="ht-product-image"> <img th:src="'assets/img/clocks/' + ${el.imgRef}" alt="Universal Product Style"> </a>
                                </div>
                                <div class="ht-product-content">
                                    <div class="ht-product-content-inner">
                                        <div class="ht-product-categories"><p th:text="${el.category}"></p></div>
                                        <h4 class="ht-product-title"><a th:href="'/shop/product/' + ${el.clockId}" th:text="${el.title}"></a></h4>
                                        <div class="ht-product-price">
                                            <span class="new" th:text="'$' + ${el.price}"></span>
                                        </div>
                                        <div class="ht-product-ratting-wrap">
                                            <span class="ht-product-ratting">
                                                <span class="ht-product-user-ratting" style="width: 100%;">
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                </span>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="ht-product-countdown-wrap">
                                        <div class="ht-product-countdown" data-countdown="2020/01/01"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Product End-->
                    </div>
                </div>
                <div id="product-3" class="tab-pane">
                    <div class="ht-products product-slider-active owl-carousel">
                        <!--Product Start-->
                        <div th:each="el : ${alarmClocks}" class="ht-product ht-product-action-on-hover ht-product-category-right-bottom mb-30">
                            <div class="ht-product-inner">
                                <div class="ht-product-image-wrap">
                                    <a th:href="'/shop/product/' + ${el.clockId}" class="ht-product-image"> <img th:src="'assets/img/clocks/' + ${el.imgRef}" alt="Universal Product Style"> </a>
                                </div>
                                <div class="ht-product-content">
                                    <div class="ht-product-content-inner">
                                        <div class="ht-product-categories"><p th:text="${el.category}"></p></div>
                                        <h4 class="ht-product-title"><a th:href="'/shop/product/' + ${el.clockId}" th:text="${el.title}"></a></h4>
                                        <div class="ht-product-price">
                                            <span class="new" th:text="'$' + ${el.price}"></span>
                                        </div>
                                        <div class="ht-product-ratting-wrap">
                                            <span class="ht-product-ratting">
                                                <span class="ht-product-user-ratting" style="width: 100%;">
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                </span>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="ht-product-countdown-wrap">
                                        <div class="ht-product-countdown" data-countdown="2020/01/01"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Product End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-area pt-80 pb-95 section-margin-1" style="background-image: url(assets/img/clocks/testimonials.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 ml-auto mr-auto">
                    <div class="testimonial-active owl-carousel nav-style-1">
                        <div class="single-testimonial text-center">
                            <img src="assets/img/clocks/person_1.png" alt="" style="border-radius: 50px;">
                            <p>Get something unique for your walls with our Snajdare wall clock, made of birch plywood it has an uneven design but still looks elegant and clean. For something more traditional, the Bravur wall clock is perfect. The numbers are bold and big against a bright dial so they’re easily visible.</p>
                            <div class="client-info">
                                <img src="assets/img/icon-img/testi.png" alt="">
                                <h5>Kate Dehlli</h5>
                            </div>
                        </div>
                        <div class="single-testimonial text-center">
                            <img src="assets/img/clocks/person_2.png" alt="" style="border-radius: 50px;">
                            <p>A wall clock or a table clock always makes sure you get things done on time. Check out the Snofsa table clock - with its brass exterior and deep blue dial, it looks like a showpiece by itself. And it has a silent quartz movement so you don’t have to hear the tick-tock every second.</p>
                            <div class="client-info">
                                <img src="assets/img/icon-img/testi.png" alt="">
                                <h5>Grace Alvarado</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area pt-95 pb-70">
        <div class="container">
            <div class="section-title text-center pb-60">
                <h2>New Arrivals</h2>
                <p>Our new collection of wall, desk and alarm clocks not only keep you on time but also look good doing it!</p>
            </div>
            <div class="arrivals-wrap scroll-zoom">
                <div class="ht-products product-slider-active owl-carousel">
                    <!--Product Start-->
                    <div th:each="el : ${newClocks}" class="ht-product ht-product-action-on-hover ht-product-category-right-bottom mb-30">
                        <div class="ht-product-inner">
                            <div class="ht-product-image-wrap">
                                <a th:href="'/shop/product/' + ${el.clockId}" class="ht-product-image"> <img th:src="'assets/img/clocks/' + ${el.imgRef}" alt="Universal Product Style"> </a>
                            </div>
                            <div class="ht-product-content">
                                <div class="ht-product-content-inner">
                                    <div class="ht-product-categories"><p th:text="${el.category}"></p></div>
                                    <h4 class="ht-product-title"><a th:href="'/shop/product/' + ${el.clockId}" th:text="${el.title}"></a></h4>
                                    <div class="ht-product-price">
                                        <span class="new" th:text="'$' + ${el.price}"></span>
                                    </div>
                                    <div class="ht-product-ratting-wrap">
                                            <span class="ht-product-ratting">
                                                <span class="ht-product-user-ratting" style="width: 100%;">
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                </span>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            </span>
                                    </div>
                                </div>
                                <div class="ht-product-countdown-wrap">
                                    <div class="ht-product-countdown" data-countdown="2020/01/01"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Product End-->
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-banner mb-30 scroll-zoom">
                        <a href="/product"><img src="assets/img/clocks/black_fri_clock_1.png" alt=""></a>
                        <div class="banner-content banner-position-3">
                            <h3>Black Friday</h3>
                            <h2>Antique Clock <br>Save 30%</h2>
                            <a href="/product">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-banner mb-30 scroll-zoom">
                        <a href="/product"><img src="assets/img/clocks/black_fri_clock_2.png" alt=""></a>
                        <div class="banner-content banner-position-4">
                            <h3>Black Friday</h3>
                            <h2>Hourglass <br>Save 30%</h2>
                            <a href="/product">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>

<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/ajax-mail.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
