<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      class="no-js" lang="en">
<head>
    <title th:text="${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icons.min.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
        .myaccount-content {min-height: 280px;}
        .logout_btn {border: 1px solid #ccc; text-align: left; padding: 0 0 0 14px; background: none; color: #666; font-weight: 500;}
        .logout_btn:hover {border: 1px solid #970b1f; background-color: #970b1f; color: #fff;}
        .admin_form {margin: 0 0 0 0!important;}
        .admin_form input,
        .admin_form textarea {background: none; margin: 0 0 20px 0;}
        .admin_btn {background-color: #f2f2f2; border: medium none; cursor: pointer; font-size: 13px; font-weight: 600; line-height: 1; padding: 13px 30px 14px; text-transform: uppercase; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s;}
        .admin_btn:hover {background-color: #970b1f; color: #fff;}
    </style>
</head>

<body>
<div class="wrapper">
    <div th:insert="blocks/header :: header"></div>
    <div class="breadcrumb-area pt-35 pb-35 bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">My account </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- my account wrapper start -->
    <div class="my-account-wrapper pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- My Account Page Start -->
                    <div class="myaccount-page-wrapper">
                        <!-- My Account Tab Menu Start -->
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <div class="myaccount-tab-menu nav" role="tablist">
                                    <a href="#dashboad" class="active" data-toggle="tab"><i class="fa fa-dashboard"></i>
                                        Dashboard</a>
                                    <a th:if="${#request.isUserInRole('ADMIN')}" href="#admin_add" data-toggle="tab"><i class="fa fa-dashboard"></i>
                                        -Add</a>
                                    <a th:if="${#request.isUserInRole('ADMIN')}" href="#admin_edit" data-toggle="tab"><i class="fa fa-dashboard"></i>
                                        -Edit</a>
                                    <a th:if="${#request.isUserInRole('ADMIN')}" href="#admin_del" data-toggle="tab"><i class="fa fa-dashboard"></i>
                                        -Delete</a>
                                    <form id="logout_form" th:action="@{/logout}" method="post">
                                        <i class="fa fa-user">
                                            <input class="logout_btn" type="submit" value="Log Out" /></i>
                                    </form>
                                </div>
                            </div>
                            <!-- My Account Tab Menu End -->    
                            <!-- My Account Tab Content Start -->
                            <div class="col-lg-9 col-md-8">
                                <div class="tab-content" id="myaccountContent">
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3 style="margin: 0 0 40px 0">Dashboard</h3>
                                            <div class="welcome">
                                                <form th:action="@{/logout}" method="post">
                                                    <p>Hello, <strong>[[${#httpServletRequest.remoteUser}]]</strong>
                                                        (If Not <strong>[[${#httpServletRequest.remoteUser}]] !</strong>
                                                        logout)</p>
                                                </form>
                                            </div>
                                            <p class="mb-0" th:if="${#request.isUserInRole('ADMIN')}">From your account, you can add, edit & delete the goods.</p>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade" id="admin_add" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>- Add</h3>
                                            <div class="shop-list-wrap shop-list-mrg2 shop-list-mrg-none mb-30">
                                                <form id="add_form" action="/account/admin/product/add" method="post" class="admin_form">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="product-list-img">
                                                                <div style="width: 248px; height: 248px; background-color: #ececec;"></div>
                                                                <input type="file" id="clock_img" name="clock_img" required style="margin: 11px 0 0 0; padding: 0;">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 align-self-center">
                                                            <div class="shop-list-content">
                                                                <input type="text" id="clock_id" name="clock_id" value="0" hidden readonly>
                                                                <label for="clock_title">Title *</label>
                                                                <input type="text" id="clock_title" name="clock_title" required>

                                                                <label for="clock_category">Category *</label>
                                                                <input type="text" id="clock_category" name="clock_category" required placeholder="Wall/Desk/Alarm">

                                                                <label for="clock_description">Description *</label>
                                                                <textarea id="clock_description" name="clock_description" required></textarea>

                                                                <label for="clock_price">Price *</label>
                                                                <input type="text" id="clock_price" name="clock_price" required placeholder="50">

                                                                <label for="clock_movement">Movement *</label>
                                                                <input type="text" id="clock_movement" name="clock_movement" required placeholder="Quartz/Mechanical">

                                                                <label for="clock_material">Material *</label>
                                                                <input type="text" id="clock_material" name="clock_material" required>

                                                                <label for="clock_dimensions">Dimensions *</label>
                                                                <input type="text" id="clock_dimensions" name="clock_dimensions" required placeholder="10 x 10 x 10">

                                                                <label for="clock_weight">Weight *</label>
                                                                <input type="text" id="clock_weight" name="clock_weight" required placeholder="0.5">

                                                                <label for="clock_other_info">Other info</label>
                                                                <textarea id="clock_other_info" name="clock_other_info"></textarea>

                                                                <button class="admin_btn" style="margin: 10px 0">Add</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade" id="admin_edit" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>- Edit</h3>
                                            <div th:each="el : ${clocks}" class="shop-list-wrap shop-list-mrg2 shop-list-mrg-none mb-30">
                                                <form th:id="'edit_form_' + ${el.clockId}" th:action="'/account/admin/product/' + ${el.clockId} + '/edit'" method="post" class="admin_form">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="product-list-img">
                                                                <a th:href="'/shop/product/' + ${el.clockId}">
                                                                    <img th:src="'assets/img/clocks/' + ${el.imgRef}" alt="Universal Product Style">
                                                                    <input type="file" th:id="'clock_img_' + ${el.clockId}" name="clock_img" th:value="${el.imgRef}" readonly style="margin: 11px 0 0 0; padding: 0;">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 align-self-center">
                                                            <div class="shop-list-content">
                                                                <input type="text" th:id="'clock_id_' + ${el.clockId}" name="clock_id" th:value="${el.clockId}" hidden readonly>
                                                                <label for="clock_title">Title *</label>
                                                                <input type="text" th:id="'clock_title_' + ${el.clockId}" name="clock_title" required th:value="${el.title}">

                                                                <label for="clock_category">Category *</label>
                                                                <input type="text" th:id="'clock_category_' + ${el.clockId}" name="clock_category" required th:value="${el.category}" placeholder="Wall/Desk/Alarm">

                                                                <label for="clock_description">Description *</label>
                                                                <textarea th:id="'clock_description_' + ${el.clockId}" name="clock_description" required th:text="${el.description}" />

                                                                <label for="clock_price">Price *</label>
                                                                <input type="text" th:id="'clock_price_' + ${el.clockId}" name="clock_price" required th:value="${el.price}" placeholder="50">

                                                                <label for="clock_movement">Movement *</label>
                                                                <input type="text" th:id="'clock_movement_' + ${el.clockId}" name="clock_movement" required th:value="${el.movement}" placeholder="Quartz/Mechanical">

                                                                <label for="clock_material">Material *</label>
                                                                <input type="text" th:id="'clock_material_' + ${el.clockId}" name="clock_material" required th:value="${el.material}">

                                                                <label for="clock_dimensions">Dimensions *</label>
                                                                <input type="text" th:id="'clock_dimensions_' + ${el.clockId}" name="clock_dimensions" required th:value="${el.dimensions}" placeholder="10 x 10 x 10">

                                                                <label for="clock_weight">Weight *</label>
                                                                <input type="text" th:id="'clock_weight_' + ${el.clockId}" name="clock_weight" required th:value="${el.weight}" placeholder="0.5">

                                                                <label for="clock_other_info">Other info</label>
                                                                <textarea th:id="'clock_other_info_' + ${el.clockId}" name="clock_other_info" th:text="${el.otherInfo}" />

                                                                <button class="admin_btn" type="submit" style="margin: 10px 0">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade" id="admin_del" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>- Delete</h3>
                                            <div th:each="el : ${clocks}" class="shop-list-wrap shop-list-mrg2 shop-list-mrg-none mb-30">
                                                <form th:id="'del_form_' + ${el.clockId}" th:action="'/account/admin/product/' + ${el.clockId} + '/delete'" method="post" class="admin_form">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4">
                                                            <div class="product-list-img">
                                                                <a th:href="'/shop/product/' + ${el.clockId}">
                                                                    <img th:src="'assets/img/clocks/' + ${el.imgRef}" alt="Universal Product Style">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 align-self-center">
                                                            <div class="shop-list-content">
                                                                <h4><a th:href="'/shop/product/' + ${el.clockId}" th:text="${el.title}"></a></h4>
                                                                <p th:text="${el.description}"></p>
                                                                <span th:text="${el.category}"></span>
                                                                <div class="shop-list-price-action-wrap">
                                                                    <div class="shop-list-price-ratting">
                                                                        <div class="ht-product-list-price">
                                                                            <span th:text="'$' + ${el.price}" class="new"></span>
                                                                        </div>
                                                                        <div class="ht-product-list-ratting">
                                                                            <i class="sli sli-star"></i>
                                                                            <i class="sli sli-star"></i>
                                                                            <i class="sli sli-star"></i>
                                                                            <i class="sli sli-star"></i>
                                                                            <i class="sli sli-star"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div style="display: flex; justify-content: flex-end; margin: -65px 0 0 0;">
                                                                    <button class="admin_btn" type="submit" style="margin: 10px 0">Delete</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                </div>
                            </div> <!-- My Account Tab Content End -->
                        </div>
                    </div> <!-- My Account Page End -->
                </div>
            </div>
        </div>
    </div>
    <!-- my account wrapper end -->
    <div th:insert="blocks/footer :: footer"></div>
</div>

<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/ajax-mail.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
