<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
<head>
    <title th:text="${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/icons.min.css">
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<div class="wrapper">
    <div th:insert="blocks/header :: header"></div>
    <div class="breadcrumb-area pt-35 pb-35 bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">Product Details </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:each="el : ${clock}" class="product-details-area pt-100 pb-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-img">
                        <div class="zoompro-border zoompro-span">
                            <img class="zoompro" th:src="'/assets/img/clocks/' + ${el.imgRef}" th:data-zoom-image="'/assets/img/clocks/' + ${el.imgRef}" alt="" width="570" height="570"/>
                            <div class="product-video">
                                <a class="video-popup" href="">
                                    <i class="sli sli-control-play"></i>
                                    View Video
                                </a>
                            </div>
                        </div>
                        <div id="gallery" class="mt-20 product-dec-slider">
                            <a th:data-image="'/assets/img/clocks/' + ${el.imgRef}" th:data-zoom-image="'/assets/img/clocks/' + ${el.imgRef}">
                                <img th:src="'/assets/img/clocks/' + ${el.imgRef}" alt="" width="90" height="90">
                            </a>
                            <a th:data-image="'/assets/img/clocks/' + ${el.imgRef}" th:data-zoom-image="'/assets/img/clocks/' + ${el.imgRef}">
                                <img th:src="'/assets/img/clocks/' + ${el.imgRef}" alt="" width="90" height="90">
                            </a>
                            <a th:data-image="'/assets/img/clocks/' + ${el.imgRef}" th:data-zoom-image="'/assets/img/clocks/' + ${el.imgRef}">
                                <img th:src="'/assets/img/clocks/' + ${el.imgRef}" alt="" width="90" height="90">
                            </a>
                            <a th:data-image="'/assets/img/clocks/' + ${el.imgRef}" th:data-zoom-image="'/assets/img/clocks/' + ${el.imgRef}">
                                <img th:src="'/assets/img/clocks/' + ${el.imgRef}" alt="" width="90" height="90">
                            </a>
                            <a th:data-image="'/assets/img/clocks/' + ${el.imgRef}" th:data-zoom-image="'/assets/img/clocks/' + ${el.imgRef}">
                                <img th:src="'/assets/img/clocks/' + ${el.imgRef}" alt="" width="90" height="90">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-content ml-30">
                        <h2 th:text="${el.title}"></h2>
                        <div class="product-details-price">
                            <span th:text="'$' + ${el.price}"></span>
                        </div>
                        <div class="pro-details-rating-wrap">
                            <div class="pro-details-rating">
                                <i class="sli sli-star yellow"></i>
                                <i class="sli sli-star yellow"></i>
                                <i class="sli sli-star yellow"></i>
                                <i class="sli sli-star yellow"></i>
                                <i class="sli sli-star yellow"></i>
                            </div>
                            <span><a href="#">2 Reviews</a></span>
                        </div>
                        <p th:text="${el.description}"></p>
                        <div class="pro-details-list" style="margin: 30px 0; padding: 0 0 20px 0">
                            <ul>
                                <li><span style="font-weight: 500">Category: </span><a th:text="${el.category}"></a></li>
                                <li><span style="font-weight: 500">Movement: </span><a th:text="${el.movement}"></a></li>
                            </ul>
                        </div>
                        <div class="pro-details-size-color">
                            <div class="pro-details-color-wrap">
                                <span>Color</span>
                                <div class="pro-details-color-content">
                                    <ul>
                                        <li class="blue"></li>
                                        <li class="maroon active"></li>
                                        <li class="gray"></li>
                                        <li class="green"></li>
                                        <li class="yellow"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:each="el : ${clock}" class="description-review-area pb-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="description-review-wrapper" style="min-height: 368px;">
                        <div class="description-review-topbar nav">
                            <a data-toggle="tab" href="#des-details1">Description</a>
                            <a class="active" data-toggle="tab" href="#des-details3">Additional information</a>
                            <a data-toggle="tab" href="#des-details2">Reviews (2)</a>
                        </div>
                        <div class="tab-content description-review-bottom" style="margin: 20px 0 0 0">
                            <div id="des-details1" class="tab-pane">
                                <div class="product-description-wrapper">
                                    <p th:text="${el.description}"></p>
                                </div>
                            </div>
                            <div id="des-details3" class="tab-pane active">
                                <div class="product-anotherinfo-wrapper">
                                    <ul>
                                        <li><span>Weight</span><a th:text="${el.weight}"></a> kg</li>
                                        <li><span>Dimensions</span><a th:text="${el.dimensions}"></a> cm</li>
                                        <li><span>Movement</span><a th:text="${el.movement}"></a></li>
                                        <li><span>Materials</span><a th:text="${el.material}"></a></li>
                                        <li style="display: flex"><span>Other Info</span><a th:text="${el.otherInfo}"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="des-details2" class="tab-pane">
                                <div class="review-wrapper">
                                    <div class="single-review">
                                        <div class="review-img">
                                            <img src="/assets/img/clocks/person_3.png" alt="" width="70" height="70">
                                        </div>
                                        <div class="review-content">
                                            <p>“In convallis nulla et magna congue convallis. Donec eu nunc vel justo maximus posuere. Sed viverra nunc erat, a efficitur nibh”</p>
                                            <div class="review-top-wrap">
                                                <div class="review-name">
                                                    <h4>Stella McGee</h4>
                                                </div>
                                                <div class="review-rating">
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-review">
                                        <div class="review-img">
                                            <img src="/assets/img/clocks/person_4.png" alt="" width="70" height="70">
                                        </div>
                                        <div class="review-content">
                                            <p>“In convallis nulla et magna congue convallis. Donec eu nunc vel justo maximus posuere. Sed viverra nunc erat, a efficitur nibh”</p>
                                            <div class="review-top-wrap">
                                                <div class="review-name">
                                                    <h4>Stella McGee</h4>
                                                </div>
                                                <div class="review-rating">
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                    <i class="sli sli-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ratting-form-wrapper">
                                    <span>Add a Review</span>
                                    <p>Your email address will not be published. Required fields are marked <span>*</span></p>
                                    <div class="star-box-wrap">
                                        <div class="single-ratting-star">
                                            <i class="sli sli-star"></i>
                                        </div>
                                        <div class="single-ratting-star">
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                        </div>
                                        <div class="single-ratting-star">
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                        </div>
                                        <div class="single-ratting-star">
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                        </div>
                                        <div class="single-ratting-star">
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                            <i class="sli sli-star"></i>
                                        </div>
                                    </div>
                                    <div class="ratting-form">
                                        <form action="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="rating-form-style mb-20">
                                                        <label>Your review <span>*</span></label>
                                                        <textarea name="Your Review"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="rating-form-style mb-20">
                                                       <label>Name <span>*</span></label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="rating-form-style mb-20">
                                                       <label>Email <span>*</span></label>
                                                        <input type="email">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-submit">
                                                        <input type="submit" value="Submit">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="pro-dec-banner">
                        <a href="#"><img th:src="'/assets/img/clocks/' + ${el.imgRef}" alt="" width="370" height="368"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area">
        <div class="container">
            <div class="section-title text-center pb-60">
                <h2>Related products</h2>
                <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
            </div>
            <div class="arrivals-wrap scroll-zoom">
                <div class="ht-products product-slider-active owl-carousel">
                    <!--Product Start-->
                    <div th:each="el : ${relatedClocks}" class="ht-product ht-product-action-on-hover ht-product-category-right-bottom mb-30">
                        <div class="ht-product-inner">
                            <div class="ht-product-image-wrap">
                                <a th:href="'/shop/product/' + ${el.clockId}" class="ht-product-image"> <img th:src="'/assets/img/clocks/' + ${el.imgRef}" alt="Universal Product Style"> </a>
                            </div>
                            <div class="ht-product-content">
                                <div class="ht-product-content-inner">
                                    <div class="ht-product-categories"><a th:text="${el.category}"></a></div>
                                    <h4 class="ht-product-title"><a th:text="${el.title}"></a></h4>
                                    <div class="ht-product-price">
                                        <span class="new" th:text="'$' + ${el.price}"></span>
                                    </div>
                                    <div class="ht-product-ratting-wrap">
                                        <span class="ht-product-ratting">
                                            <span class="ht-product-user-ratting" style="width: 100%;">
                                                <i class="sli sli-star"></i>
                                                <i class="sli sli-star"></i>
                                                <i class="sli sli-star"></i>
                                                <i class="sli sli-star"></i>
                                                <i class="sli sli-star"></i>
                                            </span>
                                        <i class="sli sli-star"></i>
                                        <i class="sli sli-star"></i>
                                        <i class="sli sli-star"></i>
                                        <i class="sli sli-star"></i>
                                        <i class="sli sli-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="ht-product-action">
                                    <ul>
                                        <li><a href="#"><i class="sli sli-magnifier"></i><span class="ht-product-action-tooltip">Quick View</span></a></li>
                                        <li><a href="#"><i class="sli sli-heart"></i><span class="ht-product-action-tooltip">Add to Wishlist</span></a></li>
                                        <li><a href="#"><i class="sli sli-refresh"></i><span class="ht-product-action-tooltip">Add to Compare</span></a></li>
                                        <li><a href="#"><i class="sli sli-bag"></i><span class="ht-product-action-tooltip">Add to Cart</span></a></li>
                                    </ul>
                                </div>
                                <div class="ht-product-countdown-wrap">
                                    <div class="ht-product-countdown" data-countdown="2020/01/01"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Product End-->
                </div>
            </div>
        </div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>

<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/ajax-mail.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>
